@import 'variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  font-family: $font;
}

h1, h2, .h1, .h2 {
  font-family: $title-font;
  font-weight: 400;
}

a {
  color: $theme-primary;
  text-decoration: none;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}
