$theme-primary: #4059ad;
$theme-secondary: #6b9ac4;

$theme-highlight: #f4b942;

$middle-blue-green: #97d8c4;
$cultured: #eff2f1;

$muted: #888;
$dark-muted: #222;

$font: 'Roboto', sans-serif;
$title-font: 'Rubik Mono One', sans-serif;