@import 'variables';

.articleList {
    // general list styling
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    // General Article Formatting
    @mixin article {
        position: relative;
        margin: 1rem 0;
        flex: 1 0 100%;
        a {
            color: black;
            .data {
                padding: 0 1rem;
                .title {
                    margin: 0 auto 1rem;
                }
                .author {
                    color: $muted;
                }
            }

            &:hover, &:focus, &:focus-visible {
                .title {
                    text-decoration: underline;
                    text-decoration-thickness: 2px;
                }
            }

        }
    }

    .normal {
        @include article;

        a {
            width: 100%; height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            
            .imgContainer {
                position: relative;
                overflow: hidden;
                width: 20%; height: 0;
                padding-bottom: calc(0.2 * 56.25%);

                @media screen and (max-width: 576px) {
                    width: 40%;
                    padding-bottom: calc(0.4 * 75%);
                }

                img {
                    position: absolute;
                    width: auto; height: 100%;
                    min-width: 100%; min-height: 100%;
                    top: 50%; left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .data {
                flex: 1;

                @media screen and (max-width: 576px) {
                    font-size: 0.8rem;
                }

                .title {
                    display: block;
                    font-family: $font;
                    font-weight: 700;

                    @media screen and (max-width: 576px) {
                        margin-bottom: 0.5rem;
                    }
                }
            }

        }
    }

    // Special Article Formatting
    @mixin hightlight {
        @include article;
        border: 5px solid currentColor;
        width: 100%; height: 0;
        margin: 1rem 0;
        position: relative;
        padding-bottom: 350px;
        overflow: hidden;
        a {
            position: absolute;
            width: 100%; height: 100%;
            top: 0; left: 0;
            background-color: rgba(127, 127, 127, 0.5);
            img {
                position: absolute;
                width: 100%; height: auto;
                top: 50%; left: 0;
                transform: translateY(-50%);
                z-index: -1;

                @media screen and (max-width: 767px) {
                    width: auto; min-height: 100%;
                    min-width: 100%;
                    top: 50%; left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .data {
                display: block;
                padding: 2rem;
                .author {
                    color: $dark-muted;
                }
            }
        }
    }

    .highlight1 {
        @include hightlight();
        border-color: $theme-highlight;
    }
    .highlight2 {
        @include hightlight();

        border-color: $theme-primary;
        flex: 0 0 calc(60% - 1rem);
        width: calc(60% - 1rem);
        margin-right: 2rem;

        @media screen and (max-width: 767px) {
            flex: 0 0 100%;
            width: 100%;
        }

        img {
            width: auto; min-height: 100%;
            min-width: 100%;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .highlight3 {
        @include hightlight();

        border-color: $theme-primary;
        flex: 0 0 calc(40% - 1rem);
        width: calc(40% - 1rem);

        @media screen and (max-width: 767px) {
            flex: 0 0 100%;
            width: 100%;
        }

        img {
            width: auto; min-height: 100%;
            min-width: 100%;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}