@import 'variables';

.header {
    display: flex;
    margin-bottom: 1rem;
    padding: 1.5rem 0 1rem;

    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    border-bottom: 3px solid $theme-primary;
  
    .title {
      margin: 0;
      font-size: 2.5rem;
      color: $theme-primary;

      @media screen and (max-width: 576px) {
        font-size: 2rem;
      }
    }

    .menuButton{
      @media screen and (min-width: 575px) {
        display: none;
      }
    }

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      > * {
        margin: 1rem 0 0 1rem;
      }

      @media screen and (max-width: 576px) {
        display: none;
      }

      a, button {
        color: $theme-primary;
      }

      a {
        font-weight: 700;
        text-decoration: underline;

        &:hover, &:focus, &:focus-visible {
          color: $theme-secondary;
          text-decoration: none;
        }
      }
    }
  }